@model List<LojaDiversidadeComuniki.Domain.Model.Products.Product>;

<div>
    <h2 style="margin-top: 25px">Nossos Produtos</h2>
</div>

@await Component.InvokeAsync("CategoryMenu")

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="data:image;base64,@product.Image" class="card-img-top" alt="@product.Name">
                <div class="card-body">
                    <h4>@product.Name</h4>
                    <p>@product.Price.ToString("c")</p>
                    <p>Categoria: @product.Category.Name</p>
                    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddItemToCart" asp-route-productId="@product.Id">Comprar</a>
                </div>
            </div>
        </div>
    }
</div>