@model LojaDiversidadeComuniki.Domain.Model.Order.Order

<div class="container">
    <div>
        <h1>
            Pedido Concluido com Sucesso!!
        </h1>
    </div>
    <div class="card">
        <div class="card-body">
            <p>
                Data do Pedido: @DateTime.Now
            </p>
            <p>
                Número do pedido: @Model.Id
            </p>
            <p>
                Valor Total do Pedido: @ViewBag.TotalPedido.ToString("c")
            </p>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Produto</th>
                    <th>Preço</th>
                    @foreach(var item in Model.OrderDetails)
                    {
                        <td>@item.Product.Name</td>
                        <td>@item.Product.Price</td>
                    }
                </tr>
            </table>
        </div>
    </div>
    <div>
        <a class="nav-link text-info" asp-controller="Home" asp-action="Index">Voltar a Home</a>
    </div>
</div>